extends layout
block content
    .container
        .starter-template
            h1
            p.lead Below are the list of All the customers.

            a(class='btn tabbtn',href='/challenge2') Add New Customer

            table(class='table table-bordered')
                    thead
                        tr
                            th Name
                            th Email
                            th Age
                            th Action

                    tbody
                    each user in users
                        tr
                            td #{user.name}
                            td #{user.id}
                            td #{user.age}
                            td
                                a(class='btn',href="/user/#{user._id}/edit") Edit
                                a(class='btn',href="/user/#{user._id}/delete") Delete


            //ul
            //    each user in users
            //        li #{user.name}: #{user.age}: #{user._id} a(href="/user/#{user._id}/edit") Edit